{% extends 'base.html' %}

{% block title %} Objetos {% endblock %}

{% block content %}
<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-4">
  {% for objeto in objetos %}
    <div class="col">
      <div class="card h-100 shadow-sm">
        <img src="{{ objeto.imagem.url }}" class="card-img-top object-fit-cover" alt="{{ objeto.nome }}" style="height: 250px; object-fit: cover;">
        <div class="card-body">
          <h5 class="card-title">{{ objeto.nome }}</h5>
        </div>
      </div>
    </div>
  {% endfor %}
</div>
{% endblock %}
