{% extends 'base.html' %}

{% block titulo %} Identificação de itens {% endblock %}

{% block conteudo %}
<!-- Exibe o vídeo da câmera do cliente -->
<video id="video" width="400" autoplay></video>
<br>
<a id="capture" href="/resultado_identificacaco" class="btn btn-info">Capturar Imagem</a>
<canvas id="canvas" style="display:none;"></canvas>

<script>
navigator.mediaDevices.getUserMedia({ video: true })
  .then(function(stream) {
    document.getElementById('video').srcObject = stream;
  });

document.getElementById('capture').addEventListener('click', function(event) {
    event.preventDefault();  // Previne o redirecionamento do link
    const canvas = document.getElementById('canvas');
    const video = document.getElementById('video');
    canvas.width = video.videoWidth;
    canvas.height = video.videoHeight;
    canvas.getContext('2d').drawImage(video, 0, 0);

    // converte a imagem para base64
    const dataURL = canvas.toDataURL('image/jpeg');

    // envia pro Django via POST
    fetch('/gravar_frames/', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json',
        'X-CSRFToken': '{{ csrf_token }}'
      },
      body: JSON.stringify({ imagem: dataURL })
    }).then(response => {
        if (response.ok) {
            alert("Imagem enviada!");
        } else {
            alert("Erro ao enviar a imagem.");
        }
    }).catch(error => {
        alert("Erro ao enviar a imagem.");
    });
});
</script>

{% endblock %}
